<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
    <head>
        <title>Contact - Spring Boot Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div layout:fragment="content" class="container">
            <div class="jumbotron">
                <h1>Contact example</h1>
                <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
                    It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>
                    Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts.
                </p>
                <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
                <a class="btn btn-lg btn-primary" href="" role="button">Download Project</a>
            </div>
        </div>

    </body>
</html>
